<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>syncapod oauth login</title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

	</head>

	<body>
		<h1>syncapod oauth2.0 login</h1>
		<form action="/oauth/authenticate" method="post">
			<label for="uname">Username or Email</label>
			<input type="text" placeholder="Enter username or emal" name="uname" required>

			<label for="pass">Password</label>
			<input type="password" placeholder="Enter password" name="pass" required>

			<button type="submit">Login</button>
		</form>    
	</body>
</html>
